PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://itzzzsiddique_db_user:Ayesha2005@ac-oj2psoe-shard-00-00.i2kkrbi.mongodb.net:27017,ac-oj2psoe-shard-00-01.i2kkrbi.mongodb.net:27017,ac-oj2psoe-shard-00-02.i2kkrbi.mongodb.net:27017/?ssl=true&replicaSet=atlas-zuvonh-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=supersecretkey
JWT_EXPIRES_IN=7d
UPLOAD_DIR=uploads
AI_SERVICE_URL=http://localhost:8000/analyze
